.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-control {
  padding: 5px 10px;
  font-size: 14px;
}

.sort-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.sort-button:hover {
  background-color: #0056b3;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }

  .input-control,
  .sort-button {
    width: 100%;
  }
}


.add-user-form {
  margin: 20px 0;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.input-control {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
.new-user-button {
  background-color: #1d8af7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
}

.new-user-button:hover {
  background-color: #0973c9;
}
